body {
    background: rgb(251, 254, 255);
    margin-left: 25px;
    margin-right: 25px;

}

header {
    margin-top: 50px;
}


h1 {
    color:black;
    font-family: fantasy;
}

h2 {
    color: black;
    font-family: fantasy;
}

h3 {
    color: red;
    font-family: fantasy;
}

p{
    font-size: 20px;
}

img {
    margin-bottom: 20px;
}